    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- <h1>Contact</h1> -->

<section class="contact" id="contact">
    <div class="contact-text">
      <h2>Contact <span>Me</span></h2>
      <h4>Let's Work Together</h4>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque, vero. Cumque mollitia id suscipit nobis, corporis aperiam dolor voluptatum repudiandae a aspernatur, eaque sint asperiores ut debitis quo molestias esse!</p>
      <div class="contact-list">
          <li><i class='bx bxs-send'></i> mohammadtafiq3@gmail.com</li>
          <li><i class='bx bxs-phone'></i> 8917371253</li>
      </div>
      <div class="contact-icons">
          <a href="https://www.linkedin.com/in/mohammed-tafiq-ab139a219/"><i class='bx bxl-linkedin'></i></a>
          <a href="https://github.com/Mohammed-Tafiq19"><i class='bx bxl-github'></i></a>
      </div>
    </div>
    <div class="contact-form">
      <form action="https://formspree.io/f/xgejdjlj"
      method="POST">
          <input type="text" name="username" placeholder="Enter Your Name" required  autocomplete="off">

          <input type="email"  name="email" placeholder="Enter Your Email" required 
          autocomplete="off">

          <input type="" name="subject" placeholder="Enter Your Subject" autocomplete="off">

          <textarea name="message" id="" cols="40" rows="10" placeholder="Enter Your Message" required autocomplete="off"></textarea>
          <input type="submit" value="Submit" class="send">
      </form>
    </div>
</section>